
body{
    background-color: rgb(255, 253,208);
}

p2 {
  color: blue;
}

h1{

  text-align: center;

  color: green;

}
img {
  display: block;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}
p1 {
  text-align: center;
}
