body{
  color:black;
  background-color: rgb(255, 253,208);
}

h1 {
  font-size: 6em;
  text-align: center;
  color: green;
}


h2 {
  font-size: 2em;
}

div {
  text-align: center;
}

p {
  font-size: 1.2em;
}

.center {
  text-align: center;
}

h4 {
  color: black;
  text-align: center;
  font-size: 4em;
}

h3 {
  font-size:1.3em;
}
